<h1>Prijava</h1>
<form action="login" method="post">
    <input type="text" name="username" placeholder="Uporabniško ime" required>
    <input type="password" name="password" placeholder="Geslo" required>
    <div class="tp">
        <input type="submit" value="prijava">
    </div>
</form>