<h1>Dodaj sliko</h1>
<form action="/photos" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="ime slike" required>
    <input type="file" name="image">
    <div class="tp">
        <input type="submit" value="Dodaj">
    </div>
</form>